  <link rel="stylesheet" href="static/style.css">
  <div class="about-me">
    <div class="containerB">
      <div class="image">
        <img src="static/images/pf6.jpg" alt="Test">
      </div>
      <div class="info">
        <h2>About Me</h2>
        <p>I am a self-starter with strong interpersonal skills. I work efficiently both as an individual contributor as well as along with a team. I seek new challenges and try to think out-of-the-box while looking for creative solutions to a given problem.</p>
<br><br>
        <div class="hobbies">
          <!-- Start Box Content -->
          <div class="content">
            <!-- Start Icon -->
            <div class="icon">
              <i class="fa fa-paint-brush fa-2x"></i>
            </div>
            <!-- End Icon -->
            <!-- Start Text -->
            <div class="text">
              <h3>Web Design</h3>
              <p> A Web Developer with  specializing in HTML5,Python, JavaScript,  MySQL, database design, and front-end development. Adept at collaborating with dynamic teams to build high-quality websites and identify opportunities to enhance the user experience..</p>
            </div>
            <!-- End Text -->
          </div>
          <!-- End Box Content -->

          <!-- Start Box Content -->
          <div class="content">
            <!-- Start Icon -->
            <div class="icon">
              <i class="fa fa-users  fa-2x"></i>
            </div>
            <!-- End Icon -->
            <!-- Start Text -->
            <div class="text">
              <h3>Python</h3>
              <p>As a Python enthusiast and developer, I have a passion for leveraging the power of Python to create efficient, scalable, and innovative solutions. With a solid foundation in Python programming, I specialize in building robust applications, automating tasks, and manipulating data to derive actionable insights. My portfolio reflects my dedication to mastering Python and utilizing it across various domains..</p>
            </div>
            <!-- End Text -->
          </div>
          <!-- End Box Content -->

          <!-- Start Box Content -->
          <div class="content">
            <!-- Start Icon -->
            <div class="icon">
              <i class="fa fa-magic fa-2x"></i>
            </div>
            <!-- End Icon -->
            <!-- Start Text -->

            <!-- End Text -->
          </div>
          <!-- End Box Content -->
        </div>
      </div>
    </div>
  </div>
