
<html>

<head>
  <meta charset="utf-8">
  <title>Sanjay p</title>
  <link rel="stylesheet" href="static/style.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>

  <!-- Start Header -->

  <div class="header">
    <div class="slider">
      <div class="container">
        <div class="intro">
          <br>
          <br>
          <!--<button class="my-button" type="button" name="button"> Learn More</button> -->
        </div>
      </div>
    </div>
    <div class="navbar">
      <div class="container">
        <h2>San<span>jay p</span></h2>
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#section1">About</a></li>
          <li><a href="#section2">Skills</a></li>
          <li><a href="#section3">Resume</a></li>
          <li><a href="#section4">Projects</a></li>
          <li><a href="#section6">Contact Me</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- End Header -->

  <!-- Start Features -->

  <div class="features">
    <div class="container">
      <div class="feat">
        <h2>Values</h2>
        <p> Discussing and understanding clients' and/or users' requirements. researching and prototyping possible solutions. writing and testing code. </p>
      </div>
      <div class="feat">
        <h2>Goals</h2>
        <p> I aim to contribute to impactful projects, refine coding skills, and embrace emerging technologies. Collaborating within dynamic teams, </p>
      </div>
      <div class="feat">
        <h2>Hobbies</h2>
        <p>My Hobbies include travelling and playing football . I play regularly on the ground next to my home with my friends. I also enjoy watching football matches </p>
      </div>
    </div>
  </div>

  <!-- End Features -->


  <!-- Start About Me -->



  <div id="section1" class="about-me" >
    <div class="containerB">
      <div class="image">
        <img src="static/images/pf6.jpg" alt="Test">
      </div>
      <div class="info">
        <h2>About Me</h2>
        <p>I am a self-starter with strong interpersonal skills. I work efficiently both as an individual contributor as well as along with a team. I seek new challenges and try to think out-of-the-box while looking for creative solutions to a given problem.</p>
<br><br>
        <div class="hobbies">
          <!-- Start Box Content -->
          <div class="content">
            <!-- Start Icon -->
            <div class="icon">
              <i class="fa fa-paint-brush fa-2x"></i>
            </div>
            <!-- End Icon -->
            <!-- Start Text -->
            <div class="text">
              <h3>Web Design</h3>
              <p> A Web Developer with  specializing in HTML5,Python, JavaScript,  MySQL, database design, and front-end development. Adept at collaborating with dynamic teams to build high-quality websites and identify opportunities to enhance the user experience..</p>
            </div>
            <!-- End Text -->
          </div>
          <!-- End Box Content -->

          <!-- Start Box Content -->
          <div class="content">
            <!-- Start Icon -->
            <div class="icon">
              <i class="fa fa-users  fa-2x"></i>
            </div>
            <!-- End Icon -->
            <!-- Start Text -->
            <div class="text">
              <h3>Python</h3>
              <p>As a Python enthusiast and developer, I have a passion for leveraging the power of Python to create efficient, scalable, and innovative solutions. With a solid foundation in Python programming, I specialize in building robust applications, automating tasks, and manipulating data to derive actionable insights. My portfolio reflects my dedication to mastering Python and utilizing it across various domains..</p>
            </div>
            <!-- End Text -->
          </div>
          <!-- End Box Content -->

          <!-- Start Box Content -->
          <div class="content">
            <!-- Start Icon -->
            <div class="icon">
              <i class="fa fa-magic fa-2x"></i>
            </div>
            <!-- End Icon -->
            <!-- Start Text -->

            <!-- End Text -->
          </div>
          <!-- End Box Content -->
        </div>
      </div>
    </div>
  </div>
  <!-- End About Me -->

  <!-- Start My Skills -->

  <div id="section2" class="my-skills">
    <div class="container">
      <div class="skills">
        <h2>My skills</h2>
        <p>As a software developer, I possess a diverse skill set and a proven track record in creating efficient, scalable, and user-centric applications. My expertise spans across various technologies, frameworks, and methodologies, allowing me to deliver high-quality software solutions. Below are some key skills that define my proficiency in software development.</p>
        <ul>
        <li style="color: #888;">Python - Django,Flask</li>
        <li style="color: #888;">Java Script</li>
        <li style="color: #888;">Backend Technologies: Expertise in designing and implementing RESTful APIs, working with databases (MYSQL).</li>
        </ul>
        <button type="button" class="my-button" name="button" ><a style="color:green; text-decoration:none;" href="https://www.linkedin.com/in/sanjay-p-3798b5180/">Contact Me</a></button>
      </div>

      <div class="progress">
        <div class="technique">
          <h3>Html / CSS</h3>
          <div><span style="width:83%">83% &nbsp;</span></div>
        </div>
          <div class="technique">
          <h3> Bootstrap/javascript</h3>
          <div><span style="width:80%">79% &nbsp;</span></div>
        </div>
        <div class="technique">
          <h3> MySql</h3>
          <div><span style="width:80%">80% &nbsp;</span></div>
        </div>
        <div class="technique">
          <h3>C</h3>
          <div><span style="width:75%">75% &nbsp;</span></div>
        </div>
        <div class="technique">
          <h3>Python</h3>
          <div><span style="width:90%">90% &nbsp;</span></div>
        </div>
      </div>
    </div>
  </div>

  <!-- End My Skills -->

  <!-- Start Resume -->
  <div id="section3" class="resume">
    <div class="container">
      <h2>Resume</h2>
      <p>Thank you for exploring my portfolio! To gain a comprehensive understanding of my professional journey, skills, and experiences, I invite you to view my detailed resume</p>
      <button type="button" class="my-button" name="button"><a href="https://drive.google.com/file/d/1FARiVBSu2jHNKWIVJs142zIuptTBelPx/view?usp=sharing">Download Resume</a></button>
    </div>
  </div>
  <!-- End Resume -->

  <!-- Start My Education -->

  <div class="my-education">
    <div class="container">
      <div class="main">
        <h2 class="he">My Education</h2>
        <p class="paragrph">I pursued my secondary education with a focus on Computer Science, laying the foundation for my interest in technology and computational thinking. This educational phase provided me with fundamental knowledge in programming languages, software development.</p>
        <p class="paragrph">My academic journey continued with a specialized diploma program in Mechatronics from Nettur Technical Training Foundation (NTTF) in Tellicherry. This comprehensive program blended mechanical and electrical engineering principles with computer science and automation, providing a holistic understanding of integrated systems.

During this diploma program, I gained practical experience and technical.</p>
      </div>
      <div class="exp">
        <div class="certificate">
          <h3 class="he">Certification - Python</h3>
          <span class=""><strong>Avodha Edutech pvt ltd</strong> / Aug 2023 / Nov 2023</span>
          <hr class="hr">
          <p class="paragrph">I undertook an immersive certification course focused on Python Django, a powerful web framework that empowers developers to build robust and scalable web applications efficiently. </p>
        </div>
        <div class="certificate">
          <h3 class="he">Diploma in Mechatronics</h3>
          <span class="sp"><strong>NTTF Thellicherry</strong> / July 2018 / Aug 2021</span>
          <span>8.5 GPA</span>
          <hr class="hr">
          <p class="paragrph"> Understanding the principles of mechanical engineering,control  system,CAD,Robotics,electrical system,cpp</p>
        </div>
        <div class="certificate">
          <h3 class="he">Secondary education(12th)</h3>
          <span class="sp"><strong>Chembilode HSS</strong> / JuLY 2016 / June 2018</span>
          <span>71 %</span>
          <hr class="hr">
          <p class="paragrph">Complited my secondary schooling education with a focus on Computer Science with winning percentage of 71.</p>
        </div>
      </div>


      <div class="clearfix"></div>
      <hr class="hr">
      <div class="main">
        <h2 class="he">Work Experience</h2>
        <p class="paragrph">  At Motherson Mate Chennai, I undertook a pivotal role as a Service Engineer, specializing in robot installation, debugging, program modification, and delivering exceptional customer support. Within this dynamic and innovative environment, I actively contributed to ensuring the seamless integration and functionality of robotic systems for our clients..</p>

      </div>
      <div class="exp">
        <div class="certificate">
          <h3 class="he">Service Engineer</h3>
          <span class="sp"><strong>Motherson Automotive Technologies and Engineering</strong> / Sep 2021 / Sep 2022</span>
          <span>1 Year</span>
          <hr class="hr">
          <p class="paragrph">As a dedicated Service Engineer at Motherson Automotive Technologies and Engineering, I have had the privilege of contributing to a dynamic and innovative team within the automotive industry .</p>
        </div>

      </div>
    </div>
  </div>

  <!-- End My Education -->

  <!-- Start Testimonials -->
  <div class="testimonials">
    <div class="container">
      <q> Driven by dreams and unwavering determination, I am the architect of my aspirations. Whether chasing a goal or pursuing a passion, I pledge my dedication and resilience, prepared to invest whatever it takes to turn dreams into reality. I am defined by my commitment to excellence and unwavering pursuit of success.

</q>
      <h3 class="he">Aim to Tommarow</h3>
      <ul>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <!-- End Testimonials -->

  <!-- Start Portfolio -->

  <div id="section4" class="portfolio">
    <div class="container">
      <h2 class="he">My Projects</h2>
      <p class="paragrph"></p>
      <div class="our-work">

        <div><img src="https://www.holidaymonk.com/wp-content/uploads/2022/07/Kerala-India-Tourism-1024x764.webp" alt="Test">
        <p>Photo Gallery</p>
        </div>
        <div><img src="https://laserveinclinic.in/wp-content/uploads/2020/02/who-we-are-1024x764.jpg" alt="Test">
          <p>Hospital Management</p>
        </div>

        <div><img src="https://bagworkshop.com/wp-content/uploads/2021/02/Clients-image4-v1-1024x764-1.jpg" alt="Test">
        <p>E-Commerce shopping site</p>
        </div><br>
        <div><img src="https://thegrangeduvall.com/wp-content/uploads/2023/04/01062023_Duvall_1937362-1024x764.webp" alt="Test">
        <p>Restaurant</p>
        </div>
        <div><img src="https://colorlib.com/wp/wp-content/uploads/sites/2/pico-minimal-css-framework-1024x764.jpg" alt="Test">
        <p>website - Bootstrap</p>
        </div>
        <div><img src="https://m.media-amazon.com/images/I/51TPrzSDiRL.jpg" alt="Test">
        <p>Netflix-clone</p>
        </div>
      <!--  <div><img src="https://source.unsplash.com/5fNmWej4tAA/600x600" alt="Test"></div>
        <div><img src="https://source.unsplash.com/s4dfrh7hdDU/600x600" alt="Test"></div>
        <div><img src="https://source.unsplash.com/HQkz_lWT_lY/600x600" alt="Test"></div> -->
      </div>
    </div>
  </div>
  <!-- Start Portfolio -->

  <!-- Start Contact Me -->
  <div id="section6" class="contact-me">
    <div class="container">
      <div class="info">
        <h2>Contact Me</h2>
        <p class="paragrph">Thank you for exploring my portfolio! I welcome the opportunity to connect and discuss potential collaborations, job opportunities, or any inquiries you may have. </p>
        <address class="paragrph">
          Dwaraka Thalamunda <br>
          po koodali pin-670592 <br>
          kannur kerala <br>
        </address>
        <p class="paragrph">
          <strong>Linkedin:</strong>linkedin.com/in/sanjay-p-3798b5180<br>
          <strong>Email:</strong> sanjayp123knr@gmail.com <br>
          <strong>Phone:</strong> +91-8921871840
        </p>
      </div>
    </div>
  </div>
  <!-- End Contact Me -->

  <!-- Start Fototer -->
  <div class="footer">
    <div class="container">
      <div class="footer-folat">
      <span class="he">Copyright &copy; 2023 sanjay</span>
      <ul>
        <li><a href="https://www.linkedin.com/in/youssef-restom-83491621"><i class="fa fa-fw fa-linkedin"></i></a></li>
        <li><a href="https://github.com/yrestom"><i class="fa fa-fw fa-github"></i></a></li>
        <li><a href="https://twitter.com/yousefrestom"><i class="fa fa-fw fa-twitter"></i></a></li>
        <li><a href="mailto:youssef.restom@gmail.com" title="My E-mail"><i class="fa fa-fw fa-envelope"></i></a></li>
      </ul>
      </div>

    </div>
  </div>


  <!-- End Fototer -->
</body>
</html>
