/* start main rulez*/
/**{
  box-sizing: border-box;
}*/

body {
  /*width: auto;*/
  /*background-color: #888;*/
  /*height:4000px;*/
  /*margin: auto;*/
}

.container {
  width: 80%;
  /*Orginal Width 1170 */
  margin: auto;
  /*background-color: #fff;*/
}

.containerB {
  width: 100%;
  /*Orginal Width 1170 */
  margin: auto;
  /*background-color: #fff;*/
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}
/* End main rulez*/

/* Start Header */
.header .slider {
  background-color: #eee;
  height: 600px;
  /*background-image: url(HeroImg.jpg);
  background-size: cover;*/

  -webkit-background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBvq4rLb1P2jfQ5D62CasZltG-ncDdwgknqA&usqp=CAU);
  -moz-background-image: url(https://source.unsplash.com/KgjcndVr7tU/1920x1080);
  -o-background-image: url(https://as1.ftcdn.net/jpg/02/98/81/92/240_F_298819286_1vzvYe7TnubUqks3jO63I2zCpZRjiAKZ.jpg);
  background-image: url();
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header .slider .intro {
  padding-top: 190px;
  text-align: center;
  color: #fff;
}

.header .slider .intro h2 {

  font-size: 50px;
  text-shadow: 5px 5px 5px #252f31;
  /*width: 650px;*/
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  margin-left:20px;
  padding: 5px 0;
}
.header .slider .intro h3 {
  margin:0 auto;
  margin-left:100px;
  font-size:15;
  text-shadow: 5px 5px 5px #252f31;
  padding:5px 0;





}

.header .slider .intro button {
  background: none;
  color: #fff;
  /*width: 140px;*/
  margin-top: 40px;
  font-size: 20px;
  border: 2px solid #fff;
  font-weight: bold;
  padding: 10px 30px;
}

.header .navbar {
  background-color: #252f31;
  color: #fff;
  overflow: hidden;
  /*text-transform: uppercase;*/
}

.header .navbar h2 {
  float: left;
  text-transform: uppercase;
}

.header .navbar h2 span {
  color: #2ecc71;
}

.header .navbar ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
  float: right;
}

.header .navbar ul li {
  float: left;
  padding: 10px;
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.header .navbar ul li.active a, .header .navbar ul li a:hover {
  color: #2ecc71;
}
/* End Header */

/* Strat Features */
.features {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 80px;
  /*box-sizing: border-box;*/
}

.features .feat {
  float: left;
  width: 33.333333%;
  height: 150px;
  box-sizing: border-box;
}

.features .feat h2 {
  /*text-transform: uppercase;*/
  color: #555;
}

.features .feat p {
  line-height: 1.5;
  color: #888;
  /*text-align: justify;*/
  /*padding: 0 20px 0 0;*/
}
/* End Features */
/* Start About Me */
.about-me {
  background-color: #f2f2f2;
  overflow: hidden;
  /*width: 100%;*/
}
  /*border: 0.5em solid;*/
.about-me >div{
  /*box-sizing: border-box;*/
}
.about-me .image {
  float: left;
  width: 30% ;
  /*height: 600px;*/

}

.about-me .image img {
  width: 100%;
  header:100%;
  object-fit: cover;
}

.about-me .info {
  float: left;
  width: 65%;
  margin: 1.5% 2.5% 0 2.5%;
}

.about-me .info h2 {
  margin: 20px 0 20px 40px;
  color: #555;
}
.about-me .info >p {
  margin: 0 0 10px 40px;
}
.about-me .info > p:last-of-type {
  margin-top: 10px;

}
.about-me .info  p {
  line-height: 1.5;
  color: #888;
}
.about-me .info .hobbies {
  overflow: hidden;
  margin: 20px 0 0 40px;
}
.about-me .info .hobbies .content {
  box-sizing: border-box;
  float: left;
  width: 50%;
  min-height: 100px;
  overflow: hidden;
}
.about-me .info .hobbies .content h3{
  color: #555;
}
.about-me .info .hobbies .content .icon {
  float: left;
  width: 12%;
}
.about-me .info .hobbies .content .icon i{
  max-width: 100%;
  padding-top: 10px;
}
.about-me .info .hobbies .content .text {
  float: left;
  width: 84%;
  margin-left: 2%;
}
/* End About Me */


/* Start My Skills */
.my-skills {
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: hidden;
}

.my-skills .skills, .my-skills .progress {
  width: 50%;
  float: left;
}
.my-skills .skills h2{
  margin: 25px 0 20px 40px;
  color: #555;
}
.my-skills .skills p{
  margin: 0 0 10px 40px;
  line-height: 1.5;
  color: #666;
  }
  .my-skills .skills p:last-of-type{
    margin-top: 15px;
  }
  .my-skills .skills button{
    padding: 10px 30px;
    margin: 25px 0 20px 40px;
    color:green;
    text-decoration: none;
  }
  .my-skills .progress .technique {
    margin-left: 50px;
  }
  .my-skills .progress .technique h3{
    color: #555;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .my-skills .progress .technique div{
    background-color: #f2f2f2;
    height: 20px;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .my-skills .progress .technique div span{
    background-color: #2dcc70;
    height: 20px;
    display: block;
    line-height: 20px;
    text-align: right;
    color: #fff;
    font-weight: bold;
  }
/* End My Skills */


/* Start Resume */
.resume {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
}
.resume h2{
  text-transform: uppercase;
  font-weight: bold;
  color: #555;
}
.resume p{
  line-height: 1.5;
  color: #666;
  padding: 0 40px;
}
.resume button{
  margin-top: 15px;
}
.resume a{
color:green;
text-decoration: none;
}
/* End Resume */


/* Start My Education */
.my-education {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
.my-education .main{
  width: 50%;
  margin-right: 5%;
  float: left;
}
.my-education .main h2{
  margin: 25px 0 20px 40px;
}
.my-education .main p{
  margin: 0 0 10px 40px;
}
.my-education .main p:last-of-type{
  margin-top: 25px;
}
.my-education .exp {
  width: 45%;
  float: left;
}
.my-education .exp h3{
  margin: 73px 0 10px 0;
}
.my-education .exp span{
  display: block;
  margin-bottom: 10px;
}
.my-education .exp span:last-of-type{
  background-color: #2dcc70;
  display: inline-block;
  color: #fff;
  padding: 3px 6px;
  font-size: 0.9em;
}
.my-education .exp hr{
  margin: 30px 0 10px 0px;
  width: 97%;
}
/* End My Education */

/* Start Testimonials */
.testimonials {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

  .testimonials q{
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color:#888;
  font-family: tahoma,arial;
line-height: 1.8;
}
.testimonials ul{
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin-top: 80px;
}
.testimonials ul li{
  width: 5px;
  height: 5px;
  border: 2px solid #2dcc70;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}
.testimonials ul li:first-of-type{
  background-color: #2dcc70;
}
.testimonials ul li:hover{
  cursor: pointer;
  background-color: #2dcc70;
}
/* End Testimonials */

/* Start Portfolio */
.portfolio {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.portfolio h2{
  padding: 20px 0 ;
}
.portfolio p{
  padding: 10px 0 30px 0 ;
}
.portfolio .our-work {
  overflow: hidden;
}

.portfolio .our-work>div {
  float: left;
  width: 33.333333%;
  margin-bottom: 10px;
}

.portfolio .our-work>div img {
  width: 92%;
  margin: 10px;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 10px 10px #ccc;

}
/*End Portfolio */


/* Start Contact Me */
.contact-me {
  background-color: #252f31;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 70px;
}

.contact-me h2 {
  color: #fff;
  margin-left: 40px;
}

.contact-me p , .contact-me address{
  color: #6A6E71;
  margin-left: 40px;
}
.contact-me p strong{
  color: #d1d6da;
}

.contact-me .info, .contact-me .form {
  width: 45%;
  float: left;
}
.contact-me .form{
  margin-top: 10px;
  margin-left: 5%;
}
.contact-me .form label{
  display: block;
  color: #d1d6da;
  margin-bottom: 20px;
  margin-top: 20px;
}
.contact-me .form input[type="text"]{
  color: #fff;
  background-color:#4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-me .form input[type="email"]{
  color: #fff;
  background-color:#4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-me .form textarea{
  color: #fff;
  background-color:#4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-me .form input[type="submit"]{
  background-color: #191e22;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  margin-top: 20px;
  border-radius: 5px;
}
/* End Contact Me */


/*Start Fototer*/
.footer {
  background-color: #191e22;
  color: #6A6E71;
  padding: 20px 0 40px 0;
  text-align: center;
  overflow: hidden;
}
.footer .footer-folat{
  float: left;
  width: 50%;
  text-align: center;
}
.footer ul{
  list-style: none;
  padding-left: 0;
  text-align: center;
  /*margin-top: 10px;*/
}

.footer ul li{
  width: 5px;
  height: 5px;
  display: inline-block;
  margin: 2px;
  padding: 5px;
}
.footer ul li a{
  font-size: 1em;
}
.footer a{
  color: #999;
  text-decoration: none;
  text-align: center;
  font-size: 0.9em;
}
.footer a:hover{
  color: #2dcc70;
}
/*End Footer*/

/* Start My Framework */
.my-button{
  background: none;
  border: 2px solid #2dcc70;
  padding: 10px 30px;
  color: #2dcc70;
  font-weight: bold;
  color:green;
  text-decoration: none;
}
.paragrph{
  line-height: 1.5;
  color: #666;
}
.he{
  color: #555;
  /*text-transform: uppercase;*/
}
.sp{
  line-height: 1.5;
  color: #888;
}
.hr{
  margin: 30px 0 30px 40px ;
  background-color: #999;
  height: 1px;
  border: 0;
  width: 95%;
}
/* End My Framework */
/* Start Media Query */

@media (max-width: 800px) {
  .features .feat {
    width: 95%;
  }
  .about-me .image {
    width: 100%;
  }
  .about-me .image img {
    width: 50%;
    height: 70%;
    margin: 0 25%;
  }
  .about-me .info, .about-me .info .hobbies .content {
    width: 95%;
  }
  .my-skills, .my-skills .skills, .my-skills .progress {
    width: 95%;
  }
  .resume {
    width: 100%;
  }
  .my-education .main, .my-education .exp {
    width: 95%;
    padding: 0;
    margin: 0;
  }
  .my-education .main .paragrph, .my-education .exp .paragrph {
    width: 100%;
    margin: 20px 0;
  }
  .my-education .main h2, .my-education .exp h3 {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
  }
  .my-education hr {
    margin: 20px 0;
    width: 100%;
  }
  .my-education .exp hr {
    margin: 0 auto;
    width: 50%;
  }
  .portfolio .our-work div {
    width: 100%;
  }
  .portfolio .our-work div img{
   width:70%;
    }
  .contact-me .info, .contact-me .form {
    width: 95%;
  }
  .footer .footer-folat {
    width: 95%;
  }
}
/* End Media Query */